<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About QuickDrawBattle</title>
        <link href="static/style.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <main id="index">
            <header>
                <h1>✏ QuickDrawBattle ✏</h1>
                <nav><a href=".">Battle</a><a href="ranking">Ranking</a><a class="selected">About</a><a href="https://github.com/ndri/quickdrawbattle">GitHub</a></nav>
            </header>
            <section id="content">
                <h2>About QuickDrawBattle</h2>
                <p>Google collected over 50 million drawings with the game <a href="https://quickdraw.withgoogle.com/">Quick, Draw!</a>. They released <a href="https://github.com/googlecreativelab/quickdraw-dataset">the dataset</a> for everyone to use, but most of the drawings are either incomplete or just bad. Let's sort out the best ones together and create a dataset of good drawings!</p>
                <p>Currently, <strong>{{ drawings }}</strong> different drawings have been voted on <strong>{{ battles }}</strong> times.</p>
                <h2>How does it work?</h2>
                <p>You are given 2 random drawings of a random category and you choose which is better. The results are then sorted using <a href="https://www.evanmiller.org/how-not-to-sort-by-average-rating.html">a lower bound of Wilson score confidence interval for a Bernoulli parameter</a> and we can see the best ones!</p>
                <p>Since there are so many drawings, it would take a long time for even one drawing to be voted on twice and we would probably never get usable results. For that reason, there are a maximum of 25 drawings up for battle per category. They will be replaced once they have been voted on 20 times. Some categories have more than 25 drawings right now, because there used to be no limit.</p>
                <h2>Results</h2>
                <p>You can see the results on the <a href="ranking">ranking page</a>. To get usable data, you can <strong title=";)">GET</strong> them from <a href="api/get_ranking">/api/get_ranking</a>. You probably want to get the key_ids from here and find the strokes from the <a href="https://console.cloud.google.com/storage/quickdraw_dataset/full/binary">full dataset</a>. You can also get the strokes from here if you enable the strokes parameter, but they are in lists of coordinate pairs instead of 2 lists of x and y.</p>
                <p>Parameters:</p>
                <ul>
                    <li><strong>category</strong> - which <a href="https://github.com/googlecreativelab/quickdraw-dataset/blob/master/categories.txt">category</a> the drawings will be from</li>
                    <li><strong>order</strong> - use "ascending" to get ascending order</li>
                    <li><strong>strokes</strong> - use "true" to get strokes in lists of strokes which are lists of coordinate pairs</li>
                    <li><strong>limit</strong> - how many drawings to return, default 25, max 1000</li>
                    <li><strong>offset</strong> - how many drawings to skip</li>
                    <li><strong>votemin</strong> - the minimum amount of votes for a drawing</li>
                </ul>
                <p>Example requests:</p>
                <ul>
                    <li>Get all sea turtles with at least 5 votes: <a href="api/get_ranking?category=sea turtle&votemin=5">/api/get_ranking?category=sea turtle&votemin=5</a></li>
                    <li>Get 100 drawings with strokes: <a href="api/get_ranking?limit=100&strokes=true">/api/get_ranking?limit=100&strokes=true</a></li>
                    <li>Skip the first 100 drawings and get 100 drawings: <a href="api/get_ranking?offset=100&limit=100">/api/get_ranking?offset=100&limit=100</a></li>
                </ul>
            </section>
        </main>
    </body>
</html>
